#buttonOk {
    -fx-background-color: tomato;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#leftPane{

	-fx-background-image: url("test4.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-opacity: 0.8;
}

#text{
	-fx-background-radius: 50px 20px;
}
